<footer
  class="border-theme text-text mx-auto mt-10 max-w-[1100px] border-t px-6 py-10"
  style="background: var(--bg)"
  transition:persist
>
  Hecho con <span class="text-text">❤️</span> por
  <a
    class="text-text hover:text-primary-dark focus-visible:text-primary-dark font-bold underline"
    href="https://abisai.dev/en/"
    target="_blank"
    rel="noopener noreferrer"
    data-umami-event="Footer Author Link"
    data-umami-event-destination="abisai.dev"
  >
    Abisai Herrera
  </a>.
</footer>
