<footer
  class="border-theme mx-auto mt-10 max-w-[1100px] border-t px-6 py-10 opacity-80"
  transition:persist
>
  Hecho con <span class="text-primary">❤️</span> por <a
    class="font-bold"
    href="https://abisai.dev"
    target="_blank">Abisai Herrera</a
  >.
</footer>
