---
import type { CollectionEntry } from "astro:content";
import WordCard from "./WordCard.astro";
import type { AstroComponent } from "@lucide/astro";

interface Props {
  words: CollectionEntry<"words-es" | "words-en">[];
  title: string;
  icon?: AstroComponent;
  lang: string;
  titleLevel?: "h2" | "h3";
}

const { words, title, icon: Icon, lang, titleLevel = "h3" } = Astro.props;
---

{
  words.length > 0 && (
    <div class={title ? "border-theme mt-8 border-t pt-6" : ""}>
      {title && titleLevel === "h2" && (
        <h2 class="my-0 mb-4 flex items-center gap-2 text-lg font-semibold">
          {Icon && <Icon class="text-primary-light" size={20} />}
          {title}
        </h2>
      )}
      {title && titleLevel === "h3" && (
        <h3 class="my-0 mb-4 flex items-center gap-2 text-lg font-semibold">
          {Icon && <Icon class="text-primary-light" size={20} />}
          {title}
        </h3>
      )}
      <div class="grid grid-cols-1 gap-3 sm:grid-cols-2 lg:grid-cols-3">
        {words.map((entry) => (
          <WordCard entry={entry} lang={lang} titleLevel={titleLevel === "h2" ? "h3" : "h4"} />
        ))}
      </div>
    </div>
  )
}
